<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="localeCountry" value="EN"/>
    <property name="localeLanguage" value="EN"/>
    <property name="severity" value="warning"/>
    <property name="fileExtensions" value="java"/>
    <property name="tabWidth" value="4"/>

    <module name="SuppressWarningsFilter"/>

    <!-- custom checks  -->

    <module name="RegexpSingleline">
        <property name="id" value="trailingSpaces"/>
        <property name="format" value="[ \t]++$"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <!-- /// -->

    <!-- misc checks  -->

    <module name="NewlineAtEndOfFile"/>

    <!-- /// -->

    <!--  size related checks -->

    <module name="FileLength">
        <property name="max" value="500"/>
    </module>
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>

    <!-- /// -->

    <!-- whitespace checks -->

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <!-- /// -->

    <module name="TreeWalker">

        <module name="SuppressWarningsHolder"/>

        <!-- annotation checks -->

        <module name="AnnotationLocation">
            <property name="allowSamelineMultipleAnnotations"
                      value="false"/>
            <property name="allowSamelineSingleParameterlessAnnotation"
                      value="false"/>
            <property name="allowSamelineParameterizedAnnotation"
                      value="false"/>
            <property name="tokens" value="CLASS_DEF"/>
            <property name="tokens" value="INTERFACE_DEF"/>
            <property name="tokens" value="PACKAGE_DEF"/>
            <property name="tokens" value="ENUM_CONSTANT_DEF"/>
            <property name="tokens" value="ENUM_DEF"/>
            <property name="tokens" value="METHOD_DEF"/>
            <property name="tokens" value="CTOR_DEF"/>
            <property name="tokens" value="VARIABLE_DEF"/>
            <property name="tokens" value="CLASS_DEF"/>
            <property name="tokens" value="ANNOTATION_DEF"/>
            <property name="tokens" value="ANNOTATION_FIELD_DEF"/>
        </module>
        <module name="AnnotationUseStyle">
            <property name="elementStyle" value="compact"/>
            <property name="trailingArrayComma" value="never"/>
            <property name="closingParens" value="never"/>
        </module>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>

        <!-- /// -->

        <!-- block checks -->

        <module name="EmptyBlock">
            <property name="option" value="statement"/>
            <property name="tokens" value="LITERAL_TRY"/>
            <property name="tokens" value="LITERAL_FINALLY"/>
            <property name="tokens" value="LITERAL_IF"/>
            <property name="tokens" value="LITERAL_ELSE"/>
            <property name="tokens" value="LITERAL_SWITCH"/>
        </module>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignored"/>
        </module>
        <module name="LeftCurly">
            <property name="ignoreEnums" value="false"/>
        </module>
        <module name="NeedBraces"/>
        <module name="RightCurly">
            <property name="id" value="rightCurlySame"/>
            <property name="tokens" value="LITERAL_TRY"/>
            <property name="tokens" value="LITERAL_CATCH"/>
            <property name="tokens" value="LITERAL_FINALLY"/>
            <property name="tokens" value="LITERAL_IF"/>
            <property name="tokens" value="LITERAL_ELSE"/>
            <property name="tokens" value="LITERAL_DO"/>
        </module>
        <module name="RightCurly">
            <property name="id" value="rightCurlyAlone"/>
            <property name="option" value="alone"/>
            <property name="tokens" value="CLASS_DEF"/>
            <property name="tokens" value="ENUM_DEF"/>
            <property name="tokens" value="ANNOTATION_DEF"/>
            <property name="tokens" value="METHOD_DEF"/>
            <property name="tokens" value="CTOR_DEF"/>
            <property name="tokens" value="LITERAL_FOR"/>
            <property name="tokens" value="LITERAL_WHILE"/>
            <property name="tokens" value="STATIC_INIT"/>
            <property name="tokens" value="INSTANCE_INIT"/>
        </module>

        <!-- /// -->

        <!-- class design checks -->

        <module name="OneTopLevelClass"/>

        <!-- /// -->

        <!-- coding checks -->

        <module name="AvoidNoArgumentSuperConstructorCall"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <module name="MissingSwitchDefault"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="NoArrayTrailingComma"/>
        <module name="NoClone"/>
        <module name="NoEnumTrailingComma"/>
        <module name="NoFinalizer"/>
        <module name="OneStatementPerLine"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageDeclaration"/>
        <module name="StringLiteralEquality"/>

        <!-- /// -->

        <!-- import checks -->

        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>
        <module name="CustomImportOrder">
            <property name="specialImportsRegExp" value="^com\.sibedge\."/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <property name="separateLineBetweenGroups" value="true"/>
            <property name="customImportOrderRules"
                      value="STANDARD_JAVA_PACKAGE###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE"/>
        </module>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>

        <!-- /// -->

        <!-- javadoc checks -->

        <module name="AtclauseOrder">
            <property name="target" value="CLASS_DEF"/>
            <property name="target" value="INTERFACE_DEF"/>
            <property name="target" value="ENUM_DEF"/>
            <property name="target" value="METHOD_DEF"/>
            <property name="target" value="CTOR_DEF"/>
            <property name="target" value="VARIABLE_DEF"/>
            <property name="tagOrder" value="@param"/>
            <property name="tagOrder" value="@return"/>
            <property name="tagOrder" value="@throws"/>
            <property name="tagOrder" value="@see"/>
            <property name="tagOrder" value="@since"/>
            <property name="tagOrder" value="@deprecated"/>
        </module>
        <module name="InvalidJavadocPosition"/>
        <module name="JavadocContentLocationCheck">
            <property name="location" value="second_line"/>
        </module>
        <module name="JavadocMethod">
            <property name="scope" value="public"/>
            <property name="allowedAnnotations" value="Override"/>
            <property name="allowedAnnotations" value="Test"/>
        </module>
        <module name="JavadocParagraph"/>
        <module name="JavadocType">
            <property name="scope" value="public"/>
        </module>
        <module name="JavadocTagContinuationIndentation"/>
        <module name="MissingJavadocMethod">
            <property name="allowedAnnotations" value="Override"/>
            <property name="allowedAnnotations" value="Test"/>
            <property name="scope" value="public"/>
            <property name="tokens" value="METHOD_DEF, CTOR_DEF, COMPACT_CTOR_DEF"/>
            <property name="minLineCount" value="2"/>
        </module>
        <module name="MissingJavadocPackage"/>
        <module name="MissingJavadocType"/>
        <module name="NonEmptyAtclauseDescription"/>
        <module name="SingleLineJavadoc">
            <property name="ignoredTags" value="@inheritDoc"/>
            <property name="ignoredTags" value="@see"/>
            <property name="ignoreInlineTags" value="false"/>
        </module>
        <module name="SummaryJavadoc"/>

        <!-- /// -->

        <!-- misc checks -->

        <module name="ArrayTypeStyle"/>
        <module name="AvoidEscapedUnicodeCharacters">
            <property name="allowEscapesForControlCharacters" value="true"/>
            <property name="allowByTailComment" value="true"/>
            <property name="allowNonPrintableEscapes" value="true"/>
        </module>
        <module name="CommentsIndentation"/>
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="throwsIndent" value="4"/>
            <property name="arrayInitIndent" value="4"/>
            <property name="lineWrappingIndentation" value="4"/>
        </module>
        <module name="OuterTypeFilename"/>
        <module name="UpperEll"/>

        <!-- /// -->

        <!-- modifier checks -->

        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- /// -->

        <!-- naming checks -->

        <module name="AbbreviationAsWordInName">
            <property name="ignoreFinal" value="false"/>
            <property name="allowedAbbreviationLength" value="1"/>
        </module>
        <module name="CatchParameterName">
            <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
        </module>
        <module name="ClassTypeParameterName">
            <property name="format" value="^[A-Z][0-9]?$"/>
        </module>
        <module name="ConstantName"/>
        <module name="InterfaceTypeParameterName">
            <property name="format" value="^[A-Z][0-9]?$"/>
        </module>
        <module name="LambdaParameterName">
            <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
        </module>
        <module name="LocalVariableName">
            <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
        </module>
        <module name="MemberName">
            <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$"/>
        </module>
        <module name="MethodName">
            <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$"/>
        </module>
        <module name="MethodTypeParameterName">
            <property name="format" value="^[A-Z][0-9]?$"/>
        </module>
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>
        <module name="ParameterName">
            <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
        </module>
        <module name="StaticVariableName">
            <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$"/>
        </module>
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
            <property name="tokens" value="CLASS_DEF"/>
            <property name="tokens" value="INTERFACE_DEF"/>
            <property name="tokens" value="ENUM_DEF"/>
            <property name="tokens" value="ANNOTATION_DEF"/>
        </module>

        <!-- /// -->

        <!--  size related checks -->

        <module name="AnonInnerLength">
            <property name="max" value="40"/>
        </module>
        <module name="ExecutableStatementCount">
            <property name="id" value="initBlockStatementCount"/>
            <property name="max" value="20"/>
            <property name="tokens" value="INSTANCE_INIT"/>
            <property name="tokens" value="STATIC_INIT"/>
        </module>
        <module name="MethodLength">
            <property name="tokens" value="CTOR_DEF"/>
            <property name="tokens" value="METHOD_DEF"/>
            <property name="max" value="60"/>
            <property name="countEmpty" value="false"/>
        </module>
        <module name="OuterTypeNumber">
            <property name="max" value="1"/>
        </module>
        <module name="ParameterNumber">
            <property name="id" value="constructorParameterCount"/>
            <property name="max" value="25"/>
            <property name="tokens" value="CTOR_DEF"/>
        </module>
        <module name="ParameterNumber">
            <property name="id" value="methodParameterCount"/>
            <property name="max" value="5"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>

        <!-- /// -->

        <!-- whitespace checks -->

        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoLineWrap"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="ARRAY_INIT"/>
            <property name="tokens" value="AT"/>
            <property name="tokens" value="INC"/>
            <property name="tokens" value="DEC"/>
            <property name="tokens" value="UNARY_MINUS"/>
            <property name="tokens" value="UNARY_PLUS"/>
            <property name="tokens" value="BNOT"/>
            <property name="tokens" value="LNOT"/>
            <property name="tokens" value="DOT"/>
            <property name="tokens" value="ARRAY_DECLARATOR"/>
            <property name="tokens" value="INDEX_OP"/>
            <property name="tokens" value="METHOD_REF"/>
        </module>
        <module name="NoWhitespaceBefore">
            <property name="allowLineBreaks" value="true"/>
            <property name="tokens" value="COMMA"/>
            <property name="tokens" value="SEMI"/>
            <property name="tokens" value="POST_INC"/>
            <property name="tokens" value="POST_DEC"/>
            <property name="tokens" value="DOT"/>
            <property name="tokens" value="ELLIPSIS"/>
            <property name="tokens" value="METHOD_REF"/>
        </module>

        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="SeparatorWrap">
            <property name="id" value="separatorWrapNewLine"/>
            <property name="tokens" value="DOT"/>
            <property name="option" value="nl"/>
        </module>
        <module name="SeparatorWrap">
            <property name="id" value="separatorWrapEol"/>
            <property name="tokens" value="COMMA"/>
            <property name="tokens" value="ELLIPSIS"/>
            <property name="tokens" value="ARRAY_DECLARATOR"/>
            <property name="option" value="eol"/>
        </module>
        <module name="SingleSpaceSeparator"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA"/>
            <property name="tokens" value="SEMI"/>
        </module>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="true"/>
            <property name="allowEmptyLambdas" value="true"/>
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
            <property name="allowEmptyLoops" value="true"/>
        </module>

        <!-- /// -->
    </module>
</module>
